@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

.incoming button {
  border: none;
  background-color: transparent;
}

.copy-button {
  margin-top: 5px !important;
  height: 100%;
}

.active {
  margin-top: -25px !important;
}

.back {
  background-color: #7eac0b;
  text-align: center;
  height: 45px;
  display: flex !important;
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  gap: 10px;
}


.instruction {
  text-align: center;
  font-style: italic;
  color: #7eac0b;
  font-weight: 500;
}

.ins-2 {
  margin-top: 5px !important;
  margin-bottom: 30px;
}

.copy-to-clipboard {
  display: flex !important;
  align-self: flex-start !important;
  font-size: 22px;
  margin: 0 0 0 10px !important;
  color: #303030 !important;
  cursor: pointer !important;
  background-color: #fff !important;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.container-gpt {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.chatbot {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -70px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #7eac0b;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 10%;
}

.chatbot h2 {
  font-size: 1.3rem;
  color: #fff;
}

header h2 {
  font-size: 32px;
  color: #7eac0b;
}

.chatbot .chatbox {
  overflow-y: auto;
  height: 90%;
  padding: 30px 20px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.chatbox .chat,
.chatbox .chat-title,
.chatbox .chat-structure,
.chatbox .chat-expand {
  display: flex;
  list-style: none;
}

.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #7eac0b;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}

.chatbox .chat div,
.chatbox .chat-title div,
.chatbox .chat-structure div,
.chatbox .chat-expand div {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #7eac0b;
}

.chatbox .incoming div {
  border-radius: 10px 10px 10px 0;
}

.gpt-answer::marker {
  padding: 30px;
}

.chatbox .chat div.error,
.chatbox .chat-title div.error,
.chatbox .chat-structure div.error,
.chatbox .chat-expand div.error {
  color: #721c24;
  background: #f8d7da;
}

.chatbox .incoming div {
  color: #000;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-chat-container {
  display: flex;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 15px;
  margin-top: 10px;
  padding: 0 20px;
  background-color: #fff;
}

.input-chat-container .chat-input {
  width: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
}

.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}

.input-ai-chat {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}

.send-container {
  align-items: center;
}

.chat-input span {
  display: flex;
  align-self: center;
}

.chat-input textarea {
  height: 25px !important;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  margin: 15px 15px 15px 0;
  font-size: 0.95rem;
}

.chat-input span {
  align-self: flex-end;
  color: #7eac0b;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
  pointer-events: all;
}

.chat-input textarea:valid~span {
  visibility: visible;
}

.hide {
  display: none;
}

/* Accordion style */

.user-accordion {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.user-accordion h3 {
  font-size: 32px;
  color: #7eac0b;
  margin-bottom: 15px;
}

.accordion {
  background-color: #7eac0b;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  margin: 3px 0;
  border-radius: 6px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.publish-container {
  width: 90%;
  display: flex;
  justify-content: right;
}

.publish {
  background-color: #97BC34;
  border: dotted 1px;
  margin-top: 10px;
  text-align: center;
  width: auto;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  border-radius: 6px;
  outline: none;
}

.user-outer .active,
.accordion:hover {
  background-color: #97BC34;
}

.user-outer .active {
  margin-top: 3px !important;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  height: 100%;
  width: 90%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 6px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
}

/* Blog Builder style */

.generator-outer {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid #f0f0f0;
}

.user-outer {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 3%;
}

.blog-builder {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chatbot header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot header img {
  width: 30px;
  position: absolute;
  left: 20px;
}

.user-textarea {
  padding: 0 !important;
}

.user-section {
  height: 67%;
  border-radius: 15px;
  width: 90%;
}

.user-section .user-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
}

#editor {
  overflow: auto;
  height: 90%;
}

.ql-editor {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editor-footer {
  width: 100%;
  height: 10%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  font-size: 12px;
  color: rgba(34, 47, 62, .7);
}

.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border: none !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #7eac0b !important;
  filter: invert(61%) sepia(88%) saturate(2775%) hue-rotate(42deg) brightness(99%) contrast(91%);
}

.ql-snow .ql-editor h1 {
  font-size: 35px !important;
}

.ql-snow .ql-editor h2 {
  font-size: 30px !important;
  color: #000;
}

.ql-snow .ql-editor h3 {
  font-size: 25px !important;
}

.ql-snow .ql-editor h4 {
  font-size: 20px !important;
}

.ql-snow .ql-editor p {
  font-size: 16px !important;
}

.ql-snow .ql-editor li {
  font-size: 16px !important;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.ql-snow .ql-picker.ql-header {
  width: 110px !important;
}

.meta-fields {
  height: 40%;
  border-radius: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  overflow: auto;
  gap: 10px;
}

.user-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
}

.user-input .user-editor {
  display: flex;
  gap: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}

.fr-second-toolbar {
  display: none;
}

.fr-toolbar.fr-top {
  border-color: #fff;
}

.fr-box.fr-basic .fr-wrapper {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.fr-wrapper.show-placeholder .fr-placeholder {
  visibility: visible;
  font-family: 'Montserrat'
}

/* Bulk Generated Articles style */

/* Blog Assistant style */

.regform-settings .title-container {
  margin: 30px;
}

#regForm .title-container {
  height: 50px;
}

.tab-content-settings {
  margin-top: 30px;
  display: none;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.publish-back {
  background-color: #7eac0b;
  text-align: center;
  height: 45px;
  display: flex !important;
  width: 100% !important;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center !important;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  gap: 10px;
}

.publish-back::after {
  content: "Change Website";
  font-family: 'Montserrat';
  font-size: 16px;
}

.tab-content-settings .back::after {
  content: "Back to Settings";
  font-family: 'Montserrat';
  font-size: 16px;
}

.tab-content {
  width: 100%;
}

.ai-assistant-container {
  margin-top: 30px;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.tab-not-1 {
  margin-top: 30px;
  display: none;
}

.tab-content-4 {
  margin-top: 30px;
  display: none;
}

.assistant {
  height: 435px;
  background-color: #f2f2f2;
}

/* Social Media Post style */

.social-media-post-container {
  height: 100%;
}

.social-media-tab {
  width: 100%;
  display: flex;
}

.social-medias {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.social-medias h2 {
  margin-bottom: 20px;
}

.generate-btn-smp {
  margin-top: 20px;
}

.ionicon {
  fill: #fff;
  width: 50px;
}

.sm {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-tab {
  display: none;
  flex-direction: column;
  width: 100%;
}

.sm-tab .back::after {
  content: "Back";
  font-family: 'Montserrat';
  font-size: 16px;
}

.sm-facebook {
  background: #3b5998;
}

.sm-instagram {
  background: rgb(249, 206, 52);
  background: linear-gradient(16deg, rgba(249, 206, 52, 1) 0%, rgba(238, 42, 123, 1) 39%, rgba(98, 40, 215, 1) 100%);
}

.sm-linkedin {
  background: #0762C8;
}

.sm-tab .title-container {
  margin-top: 20px;
}

/* Column & Row style */

.column {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.column label {
  background-color: transparent !important;
  color: #303030 !important;
  font-weight: 700;
  font-size: 24px;
}

.query-tab label {
  font-size: 16px;
}

.query-tab .drawer {
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.column .button-container {
  display: flex;
  justify-content: end;
}

.row {
  display: flex;
  height: 33.33%;
  width: 100%;
  align-items: end;
}

.details-inner {
  padding: 0;
}

.manual-article-generator-container .details-inner {
  padding: 0;
}

.instructive-article-generator-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Select style */
.selected {
  color: #414141;
}

option {
  color: #000;
  margin: 50px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 50px;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%7eac0b%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select::before,
select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

/* Generating content style */

.generating-text {
  margin-bottom: -50px;
  width: 30%;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 800;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #ffffffd6;
}

.overlay-content {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


@media only screen and (max-width: 1650px) {
  .generating-text {
    margin-bottom: -50px;
    width: 50%;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .generating-text {
    margin-bottom: -50px;
    width: 80%;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
  }

  .sm {
    height: 200px;
  }
}

/* Login style */

.sagpt-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: #7eac0b;
  position: relative;
  height: 600px;
  width: 400px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__content img {
  width: 60px;
  margin: 30px;
  position: absolute;
}

.screen__content h1 {
  color: #7eac0b;
  font-size: 30px;
}

.screen__background {
  position: absolute;
  background-color: #7eac0b;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 550px;
  width: 520px;
  background: #FFF;
  top: -50px;
  right: 130px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #97BC34;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #97BC34, #c3db63);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #c3db63;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.sagpt-login {
  width: 320px;
  padding: 30px;
  padding-top: 90px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.pagetitle {
  padding-bottom: 0;
}

.login__icon {
  position: absolute;
  top: 26px;
  color: #97BC34;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 30px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #628509;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #7eac0b;
  box-shadow: 0px 2px 2px #628509;
  cursor: pointer;
  transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #628509;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  margin-right: 10px;
  color: #97BC34;
}

.errormsg {
  background-color: #ff6473;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  margin-top: 10px;
}

.errormsg span {
  color: #fff;
}

/* Modal style */

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.query-modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.general-query-modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.general-query-modal .modal-container-title,
.enterPassword .modal-container-title {
  text-align: left;
  color: #fff;
}



.general-query-modal .modal-container-header,
.enterPassword .modal-container-header {
  background-color: #97BC34 !important;
}

.login,
.enterPassword {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.server-error {
  display: flex;
  color: #fff;
  background-color: #de3c3c;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.error,
.login-error {
  display: none;
  color: #fff;
  background-color: #de3c3c;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.success {
  display: none;
  color: #fff;
  background-color: #97BC34;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.server-success {
  display: flex;
  color: #fff;
  background-color: #97BC34;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.server-notice-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
  width: 100%;
}

#server-notice,
#backend-notice {
  align-items: center;
  position: relative;
  border-radius: 0;
  max-width: 100%;
  margin: 0;
}

#server-notice span,
#backend-notice span {
  width: 95%;
}

#server-notice button,
#backend-notice button {
  width: 5%;
  height: auto;
}

#server-notice svg,
#backend-notice svg {
  color: #fff;
}

.query-modal .modal-container-header {
  background: #97BC34 !important;
}

.query-modal .modal-container-title {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 8px;
  padding: 10px 50px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;
}

.modal-container {
  height: auto;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
}

.login-modal {
  width: 40%;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.modal-container-header {
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-container-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;
}

.modal-container-title svg {
  width: 32px;
  height: 32px;
  color: #7eac0b;
}

.modal-container-body {
  display: flex;
  align-items: center;
  padding: 32px;
  overflow-y: auto;
  height: 100%;
}

.rtf h1,
.rtf h2,
.rtf h3,
.rtf h4,
.rtf h5,
.rtf h6 {
  font-weight: 700;
}

.rtf h1 {
  font-size: 1.5rem;
  line-height: 1.125;
}

.rtf h2 {
  font-size: 1.25rem;
  line-height: 1.25;
}

.rtf h3 {
  font-size: 1rem;
  line-height: 1.5;
}

.rtf>*+* {
  margin-top: 1em;
}

.rtf self>*+ :is(h1, h2, h3) {
  margin-top: 2em;
}

.rtf self> :is(h1, h2, h3)+* {
  margin-top: 0.75em;
}

.rtf ul,
.rtf ol {
  margin-left: 20px;
  list-style-position: inside;
}

.rtf ol {
  list-style: numeric;
}

.rtf ul {
  list-style: disc;
}

.modal-container-footer {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  gap: 12px;
  position: relative;
}

.modal-container-footer:after {
  content: "";
  display: block;
  position: absolute;
  top: -51px;
  left: 24px;
  right: 24px;
  flex-shrink: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.75), transparent);
  pointer-events: none;
}

.button {
  padding: 12px 20px;
  border-radius: 8px;
  margin: auto;
  color: #7eac0b;
  background-color: transparent;
  border: 2px solid #7eac0b;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
}

.query-button {
  background-color: #97BC34;
  border: #97BC34;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
}

.button:hover {
  border: 2px solid #97BC34;
  color: #fff;
  background-color: #97BC34 !important;
}

.button.is-primary {
  background-color: #97BC34;
  border: #97BC34;
  color: #fff;
}

.button.is-primary:hover,
.button.is-primary:focus {
  background-color: #c3db63 !important;
  border: none;
}

.icon-button {
  padding: 0;
  border: 0;
  color: #fff;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.15s ease;
}

.dataupdate {
  height: auto !important;
}

.editdata {
  background-color: #7eac0b;
  border: none;
  color: white;
  padding: 10px;
  height: 70px;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.editdata:hover {
  background-color: #97BC34;
}

.sadata {
  white-space: pre-wrap;
}

#database {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  line-height: 1.5rem;
}

textarea {
  outline: none;
  line-height: 20px;
}

.listquery {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  line-height: 1.5rem;
}

.generalquery {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  line-height: 1.5rem;
}

/* Floating button style */

.login .modal-container-header {
  background-color: #7eac0b;
}

.login .modal-container-title {
  color: #fff;
  font-weight: 700;
}

.login svg {
  color: #FFF;
}

.loginbtn,
.loginBulk {
  padding: 12px 20px;
  border-radius: 8px;
  margin: auto;
  color: #7eac0b;
  background-color: transparent;
  border: 2px solid #7eac0b;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
}

.loginbtn:hover,
.loginBulk:hover {
  background-color: #7eac0b !important;
  color: #fff;
}

.tox .tox-statusbar__help-text {
  visibility: hidden;
}

.float {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 5px;
  background-color: #7eac0b;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: none;
}

.updatepost {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 5px;
  background-color: #7eac0b;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: none;
}

.my-float {
  font-size: 30px !important;
  margin-right: 20px !important;
}

.float-content {
  font-size: 20px;
  font-weight: 600;
}

/* Article Generator style */

#bulkGenerator .back {
  background-color: #7eac0b;
  text-align: center;
  height: 45px;
  display: flex;
  width: 48%;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

#queriedGenerator {
  display: none;
  width: 100%;
  height: 89.4%;
  flex-direction: column;
}

#queriedGenerator .query-tab {
  width: 100%;
  height: 100%;
}

.query-tab hr {
  width: 90%;
  align-self: center;
  border: 1px solid #ededed;
  margin: 5px;
  border-radius: 5px;
}

.back:hover {
  background-color: #97BC34;
}

#bulkGenerator .generate-keywords {
  background-color: #7eac0b;
  text-align: center;
  height: 45px;
  display: flex;
  width: 48%;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

#bulkGenerator .generating-keywords {
  background-color: #c3db63;
  text-align: center;
  height: 45px;
  display: flex;
  width: 48%;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border-color: #c3db63;
  color: #fff;
  cursor: not-allowed;
  pointer-events: none;
}

#regForm .generate-keywords:hover,
#bulkGenerator .generate-keywords:hover {
  background-color: #97BC34;
}

#bulkGenerator .generate-keywords:after {
  content: "Generate Keywords";
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

#bulkGenerator .generating-keywords:after {
  content: "Generating Keywords";
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

#regForm {
  display: none;
  flex-direction: column;
}

.generator-options {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.manual-generator,
.bulk-generator,
.queried-generator {
  width: 90%;
  height: 30%;
  background-color: #97BC34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
}

.manual-generator:hover,
.bulk-generator:hover {
  background-color: #c3db63;
}

#bulkGenerator {
  display: none;
  flex-direction: column;
  width: 90%;
  height: 90%;
  gap: 10px;
}

#bulkGenerator .title-container {
  width: 100%;
}


.focuskeyword {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 0 6px 6px 6px;
}

/* Article topics style */

#topics {
  display: flex;
  flex-direction: column;
}

.inner-list {
  display: flex;
  flex-direction: column;
}

#articletitle,
#queryarticletitle,
#queriedKeyword,
#slug,
#seoTitle,
.title-input input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 0 6px 6px 6px;
}

.title-container textarea {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 0 6px 6px 6px;
}

.login-wordpress {
  display: none;
}

.choose-site {
  display: flex;
  width: 100%;
  height: 170px;
  padding: 15px;
  gap: 10px;
}

.choose-site-container {
  display: flex;
  width: 100%;
  height: 130px;
  gap: 10px;
  margin: 15px 0;
}

.choose-site-container-query {
  display: flex;
  width: 100%;
  height: 130px;
  gap: 10px;
}

.choose-site-container input,
.choose-site-container-query input {
  display: none;
}

.choose-site img,
.choose-site-container img,
.choose-site-container-query img {
  width: 60%;
}

.choose-site-info {
  font-size: 20px;
}

.choose-site-container .shoreagents-site,
.choose-site-container-query .shoreagents-site {
  opacity: .5;
}

.shoreagents-site {
  background-color: #7eac0b;
}

.careers-site {
  background-image: linear-gradient(to right top, #0098ff, #00b2ff, #00c6f1, #00d6ca, #00e19c, #61d86e, #8fcd40, #b5be00, #dc9c00, #f47526, #fb4b51, #ec297b);
}

.shoreagents-site,
.careers-site {
  width: 50%;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.shoreagents-site:hover,
.careers-site:hover {
  opacity: .5 !important;
}

.login-input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: none;
  outline: none;
  border-radius: 0 6px 6px 6px;
}

.list {
  background: #7eac0b;
  height: 60px;
  margin: 5px 0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 5px;
  cursor: grab;
  border-radius: 6px;
}

.disabled-list {
  display: flex;
  flex-direction: column;
}

.disabled-sublist {
  background: #7eac0b;
  height: 60px;
  margin: 5px 10px;
  width: 85%;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
  align-self: end;
  cursor: grab;
  border-radius: 6px;
}

.list.over {
  border: 3px dotted #666;
}

.sub-list {
  background: #7eac0b;
  margin: 5px 0;
  padding: 15px;
  width: 85%;
  color: #fff;
  display: flex;
  align-items: center;
  align-self: end;
  gap: 5px;
  cursor: grab;
  border-radius: 6px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 7px 18px 1px rgba(0, 0, 0, 0.1);
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0 !important;
  border-radius: 6px;
  margin: 0 15px;
  box-shadow: 0 7px 18px 1px rgba(0, 0, 0, 0.1);
}

.login-body {
  flex-direction: column;
}

.title-input {
  width: 80%;
  border-radius: 0 6px 6px 0;
}

.article-title,
.login-title {
  width: 20%;
  background-color: #7eac0b;
  color: #fff;
  font-weight: 600;
  height: 100%;
  display: flex;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 6px 0 0 6px;
  justify-content: center;
  align-items: center;
}

.title-container textarea {
  resize: none;
}

.textarea-title {
  width: 20%;
  background-color: #7eac0b;
  color: #fff;
  font-weight: 600;
  height: 100%;
  display: flex;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 6px 0 0 6px;
  justify-content: center;
  align-items: center;
}

.title-container input:focus {
  outline: none;
}

.up,
.down {
  cursor: pointer;
}

.heading-text,
.subheading-text {
  padding: 5px 15px;
  border: none;
  border-radius: 6px;
}

.topic-actions {
  font-size: 21px !important;
  text-align: center;
  cursor: pointer;
}

.add-list {
  display: flex !important;
  width: 100% !important;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.add-list-container {
  background-color: #97BC34;
  border: 1px dotted #f2f2f2;
  height: 60px;
  margin: 15px 0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: grab;
  border-radius: 6px;
}

.add-list-container.over {
  border: 3px dotted #666;
}

.list-title {
  display: flex;
  width: 79.99%;
}

.list-title {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.list-title input[type=checkbox] {
  display: none;
}

.list-title input[type=text] {
  width: 90%;
  font-size: 14px;
  display: none;
}

input[type=checkbox]:checked+.list {
  opacity: 1;
}

.checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 6px;
}

.list-title:hover input~.checkmark {
  background-color: #ccc;
}

.list-title input:checked~.checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.list-title input:checked~.checkmark:after {
  display: block;
}

.list-title .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #7eac0b;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.keyword-title {
  font-size: 16px;
  font-weight: 600;
  color: #7eac0b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#keyword {
  padding: 10px;
  margin-left: 5px;
  width: 50%;
  border: none;
  box-shadow: 0 7px 18px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

#keyword:focus {
  outline: none;
}

.focus-keyword {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#generatedArticle {
  text-wrap: wrap;
}

/* Tabs style */

.page {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.pcss3t {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 0;
  height: 100%;
  text-align: center;
}

.pcss3t>input {
  position: absolute;
  left: -9999px;
}

.pcss3t>label {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.pcss3t>label i {
  display: block;
  float: left;
  margin: 16px 8px 0 -2px;
  padding: 0;
  border: 0;
  outline: none;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 17px;
}

.pcss3t>input:checked+label {
  cursor: default;
}

.pcss3t>ul {
  list-style: none;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 13px;
}

.pcss3t>ul>li {
  position: absolute;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.pcss3t>.tab-content-first:checked~ul .tab-content-first,
.pcss3t>.manual-article-generator-container:checked~ul .manual-article-generator-container,
.pcss3t>.instructive-article-generator-container:checked~ul .instructive-article-generator-container,
.pcss3t>.tab-content-4:checked~ul .tab-content-4,
.pcss3t>.tab-content-5:checked~ul .tab-content-5,
.pcss3t>.tab-content-6:checked~ul .tab-content-6,
.pcss3t>.tab-content-7:checked~ul .tab-content-7,
.pcss3t>.tab-content-8:checked~ul .tab-content-8,
.pcss3t>.tab-content-9:checked~ul .tab-content-9,
.pcss3t>.tab-content-last:checked~ul .tab-content-last {
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -webkit-transform: rotate(0deg);
}

.pcss3t>ul,
.pcss3t>ul>li {
  height: 96.5%;
}

.pcss3t label {
  width: 32%;
  margin-right: 5px;
  margin-top: 5px;
  background-color: #7eac0b;
  color: #fff;
  font-weight: 700;
}

.pcss3t .innertab {
  display: inline-block;
  line-height: 15px;
}

@media screen and (max-width: 1500px) {

  .back,
  .generate-keywords {
    font-size: 20px;
  }

  #bulkGenerator .back:after,
  #bulkGenerator .generate-keywords:after {
    font-size: 12px;
  }
}

.pcss3t>label {
  padding: 0 20px;
  background: #e5e5e5;
  font-size: 13px;
  line-height: 49px;
  text-align: center;
}

.pcss3t>label:hover {
  background: #f2f2f2;
}

.pcss3t>input:checked+label {
  background: #fff;
}

.pcss3t>ul {
  background: #fff;
  text-align: left;
}

.pcss3t-steps>label:hover {
  background: #e5e5e5;
}

.pcss3t-theme-1>label {
  margin: 0 5px 5px 0;
  border-radius: 5px;
  background: #7eac0b;
  box-shadow: 0 2px #628509;
  color: #fff;
}

.pcss3t-theme-1>label:hover {
  background: #97BC34;
  opacity: 1;
}

.pcss3t-theme-1>input:checked+label {
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #303030;
  font-weight: 700;
  opacity: 1;
}

.pcss3t-theme-1>ul {
  border-radius: 5px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.pcss3t-theme-1>.tab-content-first:checked~ul {
  border-top-left-radius: 0;
}

.ai-assistant-settinga {
  width: 100%;
}

#username,
#email {
  cursor: not-allowed;
}

.settings-item {
  display: flex;
  gap: 10px;
  width: 100%;
  background-color: #7eac0b;
  border-radius: 15px;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 100px;
  cursor: pointer;
  padding: 20px;
}

.settings-inner {
  display: none;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.settings-item .material-symbols-outlined {
  font-size: 30px;
}

.settings-item:hover {
  background-color: #97BC34;
}

.save,
.change {
  display: flex !important;
  align-items: center;
  gap: 5px;
  float: right;
}

.save::before {
  content: "Save Changes";
  font-family: "Montserrat";
  font-size: 16px;
}

.change::before {
  content: "Change Password";
  font-family: "Montserrat";
  font-size: 16px;
}

.profile-notice {
  font-size: 12px;
  color: #97bc34;
}

/* Step style */

#regForm {
  background-color: #ffffff;
  width: 100%;
  min-width: 300px;
}

#prevBtn,
#prevBtnBulk {
  margin-right: 0 !important;
}

#nextBtnQuery,
#nextBtnLpb,
#nextBtnSmpFb,
#nextBtnSmpIg,
#nextBtnSmpLi {
  float: right;
}

#nextBtn,
#nextBtnQuery,
#nextBtnLpb,
#nextBtnSmpFb,
#nextBtnSmpIg,
#nextBtnSmpLi {
  color: #fff;
  background-color: #7eac0b;
}

#nextBtnBulk {
  color: #fff;
  background-color: #7eac0b;
}

.btn-disabled {
  opacity: 0.4;
  pointer-events: none;
}

#regForm h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.bulk-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#bulkGenerator h3,
#queriedGenerator h3,
#landingPageBuilder h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
}

.tab,
.bulk-tab {
  display: none;
  flex-direction: column;
  gap: 10px;
}

#landingPageBuilder .landing-page-tab {
  width: 100%;
  height: 100%;
}

.menu-tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bulk-tab {
  margin-bottom: 15px;
}

.bulk-tab .title-container {
  margin: 0;
}

.bulk-tab .details-inner {
  margin: 0;
}

select {
  margin: 0 !important;
  border: none;
  font-size: 14px;
  color: #303030;
}

.bulk-tab select {
  margin-bottom: 20px;
}

#regForm .icon-button {
  position: absolute;
  right: 26%;
}

#regForm select {
  margin-bottom: 20px;
}

.step,
.query-step,
.bulk-step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #7eac0b;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active,
.query-step.active,
.bulk-step.active {
  opacity: 1;
}

.step.finish,
.query-step.finish,
.bulk-step.finish {
  background-color: #c3db63;
}

.generalprompt {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 50px !important;
}

/* Multiple Select style */

select {
  outline: none;
}

.mult-select-tag {
  margin: 0px !important;
  --border-color: none !important;
}

.instructive-article-generator-container .mult-select-tag {
  margin-bottom: 15px;
}

.btn-container {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%7eac0b%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .8em top 50%, 0 0;
  background-size: .80em auto, 100%;
}

.btn-container svg {
  display: none;
}

.mult-select-tag .input-container {
  padding: 0.5em 6em 0.5em 1em !important;
}

.mult-select-tag .item-container {
  border: 1px solid #7eac0b !important;
  color: #7eac0b !important;
  background: #f5ffdd !important;
}

.mult-select-tag .item-label {
  color: #7eac0b !important;
}

/* 404 style */
.pagenotfound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.pagenotfound h1 {
  font-size: 100px;
  color: #7eac0b;
}

.pagenotfound h2 {
  font-size: 30px;
}

/* Chatbox style */

.ava-lopez-conversations-container {
  height: 100%;
  justify-content: end;
}

.chat-container {
  padding: 0;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.chat-row {
  display: flex;
  width: 100%;
}

.discussions {
  width: 35%;
  direction: rtl;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
  overflow: auto;
  height: 87vh;
  background-color: #7eac0b;
  display: inline-block;
}

.discussions::-webkit-scrollbar-track, .messages-chat::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.discussions::-webkit-scrollbar, .messages-chat::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.discussions::-webkit-scrollbar-thumb, .messages-chat::-webkit-scrollbar-thumb {
  background-color: #7eac0b;
}

.discussions .discussion {
  width: 100%;
  height: 90px;
  direction: ltr;
  float: left;
  background-color: #FAFAFA;
  border-bottom: solid 1px #E0E0E0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.discussions .search {
  display: flex;
  direction: ltr;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border-bottom: solid 1px #E0E0E0;
  width: 100%;
  height: 90px;
  color: #E0E0E0;
}

.discussions .search .searchbar {
  height: 40px;
  background-color: #FFF;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height: 38px;
  width: 100%;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  ;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
  color: #E0E0E0;
}

.discussions .search .searchbar input *:-moz-placeholder {
  color: #E0E0E0;
}

.discussions .search .searchbar input *::-moz-placeholder {
  color: #E0E0E0;
}

.discussions .search .searchbar input *:-ms-input-placeholder {
  color: #E0E0E0;
}

.discussions .message-active {
  width: 98.5%;
  height: 90px;
  float: left;
  background-color: #FFF;
  border-bottom: solid 1px #E0E0E0;
}

.desc-contact {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  color: #515151;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
  color: #515151;
}

.message a {
  color: #e4ff7a;
  font-weight: 700;
}

.timer {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  margin-right: 20px;
  color: #BBB;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
}

.chat-container .chat-ava {
  width: 65%;
}

.header-chat {
  background-color: #FFF;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.100);
  display: flex;
  align-items: center;
}

.chat-ava .header-chat .icon {
  margin-left: 30px;
  color: #515151;
  font-size: 18pt;
}

.chat-ava .header-chat .name {
  font-family: 'Montserrat', sans-serif;
  font-size: 13pt;
  color: #515151;
}

.chat-ava .header-chat .right {
  position: absolute;
  right: 80px;
}

.chat-ava .messages-chat {
  display: flex;
  flex-direction: column;
  padding: 25px 35px;
  height: 78vh;
  overflow: auto;
}

.chat-ava .messages-chat .message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat-ava .messages-chat .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color: lightgrey;
  margin-bottom: 10px;
  margin-left: 40px;
}

.response-time {
  margin-right: 40px !important;
  width: auto;
  display: flex;
  justify-content: end;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left: auto;
  /* flexbox alignment rule */
}

.response .text {
  background-color: #7eac0b !important;
  color: #fff;
}

.clickable {
  cursor: pointer;
}

.chat-settings {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  position: absolute;
  background-color: #fff;
  color: #e50000;
  border: 1px solid #e50000;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 27px;
  margin-right: 23px;
  cursor: pointer;
}

.chat-settings .material-symbols-outlined {
  font-size: 20px;
}

.chat-settings:hover {
  background-color: #e50000;
  color: #fff;
}

.clear-confirm-modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.clear-confirm-button {
  background-color: #97BC34;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: 0.15s ease;
}

.clear-confirm-button:hover {
  background-color: #c3db63;
}

.confirm-no {
  padding: 12px 20px;
  border-radius: 8px;
  margin: auto;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: 0.15s ease;
  background-color: #fff;
  color: #7eac0b;
}

.confirm-no:hover {
  background-color: #f7ffe1;
}

.ava-lopez-conversations-container .modal-container {
  width: 30%;
}

.ava-lopez-conversations-container .modal-container-body {
  gap: 10px;
}

/* Responsive style */

@media (max-width: 768px) {
  .bulk-options {
    flex-direction: column;
  }

  .options {
    flex-direction: column;
  }

  .back,
  .generate-keywords {
    width: 100% !important;
  }

  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot header span {
    display: block;
  }
}

.user-section form {
  height: 88%;
  width: 100%;
}

.profile button:hover {
  color: #7eac0b;
}

.tox-promotion {
  display: none;
}

.tox-tinymce {
  border: 0 !important;
  width: 100%;
  height: 100%;
}