@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
body {
  background: #fff;
}

.incoming button{
  border: none;
  background-color: #fff;
}

.copy-to-clipboard {
  color: #303030 !important;
  cursor: pointer !important;
  background-color: #fff !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container-gpt{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.chatbot {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #7eac0b;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 90%;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat , .chatbox .chat-title, .chatbox .chat-structure, .chatbox .chat-expand{
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #7eac0b;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p, .chatbox .chat-title p, .chatbox .chat-structure p, .chatbox .chat-expand p{
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #7eac0b;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error, .chatbox .chat-title p.error, .chatbox .chat-structure p.error, .chatbox .chat-expand p.error{
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #7eac0b;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
  pointer-events: all;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

.hide{
  display: none;
}

/* Blog Builder style */

.generator-outer{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  border-right: 1px solid #f0f0f0;
}


.user-outer{
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 100%;
  right: 0;
}

.user-textarea{
  padding: 0 !important;
}

.user-section{
  height: 90%;
  border-radius: 15px;
  width: 90%;
}

.user-section .user-input{
  display: flex;
  gap: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
}

.user-input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
}

.user-input .user-editor{
  display: flex;
  gap: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}

.fr-second-toolbar{
  display: none;
}

.fr-toolbar.fr-top{
  border-color: #fff;
}

.fr-box.fr-basic .fr-wrapper{
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.fr-wrapper.show-placeholder .fr-placeholder{
  visibility: visible;
  font-family: 'Montserrat'
}

/* Blog Assistant style */

.assistant-section{
  margin-top: 30px;
  border-radius: 15px;
  width: 90%;
}

.assistant{
  height: 435px;
}

/* Column style */

.col-1{
  width: 50%;
  height: 100%;
  margin-right: 10px;
}

.col-2{
  width: 50%;
  height: 100%;
  margin-left: 10px;
}

/* Details style */

.details-section{
  border-radius: 15px;
  width: 90%;
}

.details-inner{
  height: 320px !important;
  padding: 30px !important;
}

.details-input{
  width: 100%;
  display: flex;
}

.details-input label{
  position: relative;
  top: 15px;
}


/* Select style */
.selected{
  color: #414141;
}

option{
  color: #000;
  margin: 50px;
}

#tone{
  margin-top: 15px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1rem;
  margin-top: 30px;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%7eac0b%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select::before,
select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

/* Responsive style */

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}

form{
  width: 100%;
}

.tox-promotion{
  display: none;
}

.tox-tinymce{
  border: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

